.venv/
__pycache__/
.idea/
backend.py
optimassfit/__pycache__/
users/__pycache__/
optimassfit/optimassfit/users/templates/
users/migrations/
optimassfit/optimassfit/users/__pycache__/
optimassfit/users/templates/ #frontend
/optimassfit/users/migrations/
optimassfit/users/__pycache__/
optimassfit/users/migrations/
optimassfit/users/__init__.py/

