.venv/
__pycache__/
.idea/
backend.py
.github/workflows/
optimassfit/__pycache__/
users/__pycache__/
optimassfit/users/templates/
users/migrations/
optimassfit/optimassfit/
optimassfit/locustfile.py/
optimassfit/users/__pycache__/